.ProductDetails {
    margin: 3vmax auto;
    padding: 2vmax;
    display: flex;
    gap: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    width: 86%;
    background-color: rgb(255, 250, 243);
    box-shadow: inset 1px 1px 12px 3px rgba(0, 0, 0, 0.336);
    > div {
        backdrop-filter: blur(50px);
        width: 100%;
        background-color: white;
        border: 1px solid rgb(105, 105, 105);
        .img-div {
            width: 100%;
            height: 100%;
            .CarouselImage {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    > div:last-child {
        backdrop-filter: blur(50px);
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 2vmax;
        box-sizing: border-box;
        align-items: flex-start;
    }

    .detailsBlock-1 {
        > h2 {
            color: rgb(43, 43, 43);
            font-size: 2.6vmax;
            padding: 1vmax 0;
        }

        > p {
            color: rgba(10, 10, 10);
            font-size: 0.9vmax;
            text-decoration: dashed;

            > span {
                color: rgba(54, 54, 54, 0.575);
                font-size: 0.9vmax;
                text-decoration: dashed;
            }
        }
    }

    .detailsBlock-2 {
        display: flex;
        width: 70%;
        gap: 10px;
        justify-content: flex-start;
        align-items: center;
        border-top: 1px solid rgba(54, 54, 54, 0.199);
        border-bottom: 1px solid rgba(54, 54, 54, 0.199);
        padding: 1vmax 0;

        > span {
            color: rgb(0, 0, 0);
            font-size: 0.8vmax;
            font-weight: 200;
        }
    }

    .detailsBlock-3 {
        width: 70%;

        > h1 {
            color: rgb(54, 54, 54);
            font-size: 2.8vmax;
            font-weight: 400;
        }

        > .detailsBlock-3-1 {
            display: flex;
            gap: 5px;
            margin: 2.3vmax 0;
            align-items: center;

            > .detailsBlock-3-1-1 {
                width: 50%;

                > button {
                    border: none;
                    padding: 0.3vmax 1.2vmax;
                    border-radius: 3px;
                    font-size: 1.1vmax;
                    cursor: pointer;
                    color: white;
                    transition: all 0.4s ease;
                    box-shadow: 1px 1px 2px 2px rgba(54, 54, 54, 0.199);
                    background-color: #242424;

                    &:hover {
                        background-color: rgba(22, 22, 22, 0.575);
                        // box-shadow:1px 1px 3px 3px rgba(54, 54, 54, 0.247);
                    }
                }

                > input {
                    border: none;
                    outline: none;
                    width: 40%;
                    padding: 0.35vmax 1vmax;
                    border-radius: 3px;
                    text-align: center;
                    margin: 0 0.5vmax;
                    border: 1px solid rgb(0, 0, 0);
                    color: rgba(0, 0, 0, 0.781);
                    transition: all 0.4s ease;
                    box-shadow: 1px 1px 2px 2px rgba(54, 54, 54, 0.199);
                    background-color: azure;

                    &:hover {
                        box-shadow: 1px 1px 3px 3px rgba(54, 54, 54, 0.5);
                    }
                }
            }

            button {
                padding: 0.45vmax 2vmax;
                border-radius: 50px;
                cursor: pointer;
                font-size: 0.8vmax;
                border: 1px solid rgb(255, 165, 48);
                color: rgba(255, 255, 255, 0.781);
                transition: all 0.4s ease;
                box-shadow: 1px 1px 4px 2px rgba(54, 54, 54, 0.199);
                background-color: rgb(255, 94, 31);

                &:hover {
                    background-color: rgb(212, 60, 0);
                }
            }
        }

        p {
            border-top: 1px solid rgba(54, 54, 54, 0.199);
            border-bottom: 1px solid rgba(54, 54, 54, 0.199);
            padding: 2vmax 0;
        }
    }

    .detailsBlock-4 {
        color: #242424;
        font-size: 1.5vmax;

        > p {
            color: rgba(43, 43, 43, 0.658);
            font-weight: 300;
            font-size: 1.2vmax;
        }
    }

    .submitReview {
        padding: 0.45vmax 2vmax;
        border-radius: 50px;
        cursor: pointer;
        border: none;
        outline: none;
        font-size: 0.8vmax;
        color: rgba(255, 255, 255, 0.781);
        transition: all 0.4s ease;
        box-shadow: 1px 1px 4px 4px rgba(54, 54, 54, 0.199);
        background-color: tomato;

        &:hover {
            background-color: rgb(179, 69, 49);
            box-shadow: 1px 1px 4px 8px rgba(54, 54, 54, 0.199);
        }
    }
}

.review-section {
    background-color: rgb(255, 250, 243);
    padding: 1vmax;
    width: 86%;
    margin: 4vmax auto;
    border-radius: 10px;
    box-shadow: inset 1px 1px 12px 3px rgba(0, 0, 0, 0.336);
    // box-shadow:inset 1px 1px 4px 8px rgba(54, 54, 54, 0.199);
    .reviewsHeading {
        color: #292929;
        font-size: 1.8vmax;
        text-align: center;
        border-bottom: 1px solid rgba(54, 54, 54, 0.199);
        padding: 2vmax;
        width: 20%;
        margin: 1vmax auto;
    }
    .noReviews {
        text-align: center;
        font-size: 1.2vmax;
        color: rgba(54, 54, 54, 0.499);
    }
}

.reviews {
    width: 100%;
    gap: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2vmax;
}
.reviewCard {
    flex: none;
    width: 15vmax;
    display: flex;
    border: 1px solid rgba(39, 39, 39, 0.144);
    transition: all 0.5s ease;
    animation: ChangeBg 3s alternate linear infinite;
    flex-direction: column;
    align-items: center;
    padding: 2vmax;
    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 0 5px rgba(54, 54, 54, 0.575);
    }
    img {
        width: 80%;
    }
    p {
        color: rgba(0, 0, 0, 0.781);
        font-size: 0.9vmax;
    }
    span {
        color: rgba(54, 54, 54, 0.799);
        font-size: 0.8vmax;
    }
}

// media query
@media screen and (max-width: 609px) {
    html {
        text-align: center;
        font-size: 70%;
        .ProductDetails {
            flex-direction: column;
            font-size: 2vmax;
            height: unset;
            > div:last-child {
                align-items: center;
            }
            .detailsBlock-1 {
                text-align: center;

                h2 {
                    font-size: 2vmax;
                }

                p {
                    font-size: 1.6vmax;

                    span {
                        font-size: 1.7vmax;
                    }
                }
            }

            .detailsBlock-2 {
                display: flex;
                align-content: center;
                justify-content: center;
                .css-1czqjfa-MuiRating-decimal {
                    font-size: 0.3rem !important;
                }
                span {
                    font-size: 0.9vmax;
                }
            }

            .detailsBlock-3 {
                text-align: center;

                h1 {
                    text-align: center;
                    font-size: 3.5vmax;
                }

                p {
                    font-size: 2.1vmax;
                }

                .detailsBlock-3-1 {
                    flex-direction: column;
                    gap: 15px;

                    .detailsBlock-3-1-1 {
                        display: flex;
                        max-width: fit-content;
                        gap: 10px;
                        flex-direction: column;
                        button {
                            padding: 0.9vmax 2vmax;
                            font-size: 2.4vmax;
                        }

                        input {
                            width: 100%;
                            padding: 0.9vmax 2vmax;
                        }
                    }

                    button {
                        padding: 1.6vmax 4vmax;
                        font-size: 1.3vmax;
                    }
                }
            }

            .detailsBlock-4 {
                font-size: 3vmax;
                
                > p {
                    font-size: 2vmax;
                }
            }

            .submitReview {
                padding: 1.6vmax 4vmax;
                font-size: 1.3vmax;
            }
        }
        .ProductDetails > div:last-child {
            align-items: center;
        }
    }
}
