.updateContainer{
    text-align: center;
    border-radius: 20px;
    width: 86%;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-direction: column;
    margin: 2vmax auto;
    gap: 55px;
    align-items: center;
    transition: all 1.3s ease;
    padding: 2vmax;
    background-color: rgb(255, 250, 243);
    box-shadow: inset 1px 1px 12px 3px rgba(0, 0, 0, 0.336);
    h1{
        background: linear-gradient(30deg, tomato, blue);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;        
        padding: 1rem;
        box-shadow: 1px 1px 5px 10px black;
        animation:doanimate 5s ease infinite;
    }
    .formContainer{
        width: 90%;
        box-decoration-break: slice;
        display: flex;
        align-items: center;
        justify-content: center;
        .UpdateForm{
            width: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap:50px;
            justify-content: center;
        }   
        .UpdateName,.UpdateEmail,.UpdatePassword{
            display: flex;
            width: 100%;
            gap: 40px;
            align-items: center;
            > svg {
                color: tomato;
                font-size: 1.8vmax;
            }
            > input {
                border-bottom: 1px solid tomato;
                outline: none;
                border-top: none;
                border-left: none;
                width: 100%;
                background-color: rgb(255, 250, 243);
                border-right: none;
                padding: 0.5vmax 1vmax;
                transition: all 0.4s ease;

                &::placeholder {
                    color: tomato;
                }

                &:focus {
                    color: #232323;
                    background-color: rgba(182, 63, 42, 0.108);
                }
            }
            
        }
        #UpdateImage {
            display: flex;
            width: 100%;
            align-items: center;
            svg {
                color: tomato;
            }
            img {
                width: 5vmax;
                height: 5vmax;
                margin-left: -20px;
                border-radius: 100%;
            }
            input[type="file"] {
                display: flex;
                align-items: center;
                width: 100%;
                margin: 0 0 0 2.5rem;
                &::-webkit-file-upload-button {
                    cursor: pointer;
                    width: 100%;
                    z-index: 2;
                    height: 5vh;
                    text-align: center;
                    border: none;
                    margin: 0;
                    transition: all 0.5s ease;
                    padding: 1vmax 1.5vmax 1.5vmax 1vmax;
                    color: tomato;
                    background-color: rgb(255, 250, 243);
                    &:hover {
                        color: #232323;
                        background-color: rgba(182, 63, 42, 0.108);
                    }
                }
            }
        }
        input {
            &[type="submit"] {
                border: none;
                outline: none;
                width: 100%;
                background-color: tomato;
                box-shadow: 0 0 5px rgba(255, 255, 255, 0.822);
                color: white;
                padding: 1.2vmax 2.2vmax;
                cursor: pointer;
                transition: all 0.4s ease;

                &:hover {
                    background-color: rgb(182, 63, 42);
                }
            }
        }

// UpdateBt
    }
}



@keyframes doanimate {
    0%{
        box-shadow: 0px 0px 5px 2px rgba(182, 63, 42, 0.108);
        background: linear-gradient(30deg,tomato, blue );
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;        
        transform: rotate(-1deg);
        border-radius: 20px;
    }
    25%{
        background: linear-gradient(60deg,tomato, blue );
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;        
        box-shadow: 5px 0px 5px 2px rgba(182, 63, 42, 0.108);
        transform: rotate(1deg);
        border-radius: 20px;
    }
    50%{
        background: linear-gradient(90deg,tomato, blue );
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;        
        box-shadow: 0px 5px 5px 2px rgba(182, 63, 42, 0.108);
        transform: rotate(-1deg);
        border-radius: 20px;
    }
    75%{
        background: linear-gradient(120deg,tomato, blue );
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;        
        box-shadow: 0px 5px 5px 2px rgba(182, 63, 42, 0.108);
        transform: rotate(1deg);
        border-radius: 20px;
    }
    100%{
        background: linear-gradient(180deg,tomato, blue );
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;        
        box-shadow: 2px 0px 5px 2px rgba(182, 63, 42, 0.108);
        transform: rotate(-1deg);
        border-radius: 20px;
    }
}